venv*/
__pycache__/
*.pyc
node_modules/
*.log
*.backup
.env
*.html
!templates/*.html
archive/
tasks/
docs/
*.jsonl
.screenshots/
screenshots/
browser_sessions/
*.png
!static/**/*.png
server.pid
.DS_Store
website-understanding-sdk/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
